<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.camunda.bpm.modeler.runtime" name="%extension-point.name" schema="schema/org.camunda.bpm.modeler.runtime.exsd"/>
 <extension-point id="org.camunda.bpm.modeler.plugin.customtask" name="%extension-point.name.0" schema="schema/org.camunda.bpm.modeler.plugin.customtask.exsd"/>
 <extension-point id="de.cas.open.prozesse.modeler.wizard" name="%extension-point.name.1" schema="schema/de.cas.open.prozesse.modeler.wizard.exsd"/>

	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			class="org.camunda.bpm.modeler.runtime.engine.model.ModelPackage"
			genModel="model/activitiExtensions.genmodel"
			uri="http://www.activiti.org">
		</package>
	</extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated activitiExtensions -->
      <parser
            type="model"
            class="org.camunda.bpm.modeler.runtime.engine.model.util.ModelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated activitiExtensions -->
      <package
            uri="http://www.camunda.com/fox"
            class="org.camunda.bpm.modeler.runtime.engine.model.fox.FoxPackage"
            genModel="model/activitiExtensions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated activitiExtensions -->
      <parser
            type="fox"
            class="org.camunda.bpm.modeler.runtime.engine.model.fox.util.FoxResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated activitiExtensions -->
      <package
            uri="http://www.cas.de/open"
            class="org.camunda.bpm.modeler.runtime.engine.model.casOpen.CasOpenPackage"
            genModel="model/activitiExtensions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated activitiExtensions -->
      <parser
            type="casopen"
            class="org.camunda.bpm.modeler.runtime.engine.model.casOpen.util.CasOpenResourceFactoryImpl"/>
   </extension>

	<extension point="org.camunda.bpm.modeler.runtime">
		<runtime name="camunda fox activiti" versions="5.4,5.5,5.6,5.7,5.8"
			id="org.activiti.runtime.engine"
			class="org.camunda.bpm.modeler.runtime.engine.ActivitiRuntimeExtension"
			description="camunda modeler customizations for the activiti runtime">
		</runtime>

		<model runtimeId="org.activiti.runtime.engine"
			uri="http://www.activiti.org"
			resourceFactory="org.camunda.bpm.modeler.runtime.engine.model.util.ModelResourceFactoryImpl">
		</model>
	</extension>

	<!-- new wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<category
			id="camunda.modeler" 
			name="%category.name"> 
		</category>
		<wizard
			category="camunda.modeler"
			class="org.camunda.bpm.modeler.ui.wizards.Bpmn2DiagramWizard"
			icon="icons/bpmn2_editor_16.png"
			id="org.camunda.bpm.modeler.ui.diagram"
			name="%wizard.name"
			preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective">
		</wizard>
	</extension>
	
	<!-- new menu integration -->
	<!-- 
		the common wizard will make sure that we can alway access the BPMN wizard
		new menuGroupId is chosen freely and will ensure a sub menu in the "New" dropdown is created
	-->
	<extension
		point="org.eclipse.ui.navigator.navigatorContent">
		<commonWizard
			menuGroupId="camunda.modeler"
			type="new"
			wizardId="org.camunda.bpm.modeler.ui.diagram">
			<enablement>
				<or>
					<instanceof value="org.eclipse.core.resources.IProject" />
				</or>
			</enablement>
		</commonWizard>
	</extension>

	<!-- BPMN 2.0 editor -->
	<extension point="org.eclipse.ui.editors">

		<editor
			class="org.camunda.bpm.modeler.ui.diagram.editor.Bpmn2Editor"
			contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
			default="true" extensions="bpmn,bpmn2" icon="icons/bpmn2_editor_16.png"
			id="org.camunda.bpm.modeler.ui.bpmn2editor" name="%editor.name">
			<contentTypeBinding contentTypeId="org.eclipse.bpmn2.content-type.xml">
			</contentTypeBinding>
		</editor>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type base-type="org.eclipse.core.runtime.xml"
			id="org.eclipse.bpmn2.content-type.xml"
			name="%content-type.name"
			file-extensions="bpmn,bpmn2,bpmn20,xml" priority="normal">
			<describer class="org.camunda.bpm.modeler.ui.Bpmn2ContentDescriber"></describer>
		</content-type>
		<file-association content-type="org.eclipse.core.runtime.xml" file-extensions="bpmn,bpmn2">
		</file-association>
	</extension>

	<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor
			contributorId="org.camunda.bpm.modeler.ui.PropertyContributor"
			labelProvider="org.camunda.bpm.modeler.ui.property.PropertiesLabelProvider"
			tabDescriptorProvider="org.camunda.bpm.modeler.ui.property.PropertiesTabDescriptorProvider">
			<propertyCategory category="BPMN">
			</propertyCategory>
		</propertyContributor>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType description="This is the diagram type for the BMPN2 diagram"
			id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider" name="BPMN2 Diagram Type"
			type="BPMN2">
		</diagramType>
	</extension>

	<extension point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider
			class="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider"
			description="This is the editor for the BPMN2 diagram"
			id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider" name="BPMN2 Editor">
			<diagramType
				id="org.camunda.bpm.modeler.ui.diagram.Bpmn2DiagramTypeProvider">
			</diagramType>
			<imageProvider id="org.camunda.bpm.modeler.ui.ImageProvider">
			</imageProvider>
		</diagramTypeProvider>
	</extension>

	<extension point="org.eclipse.graphiti.ui.imageProviders">
		<imageProvider class="org.camunda.bpm.modeler.ui.ImageProvider" id="org.camunda.bpm.modeler.ui.ImageProvider">
		</imageProvider>
	</extension>

	<!-- EMF Extensions -->

	<extension
		point="org.eclipse.emf.ecore.factory_override">
		<factory
			class="org.camunda.bpm.modeler.core.model.Bpmn2ModelerFactory"
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI">
		</factory>
	</extension>

	<extension
		point="org.eclipse.emf.validation.constraintProviders">
		<category
			name="%category.name.0"
			id="org.camunda.bpm.modeler.validation"/>
		<constraintProvider cache="true">
			<package namespaceUri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"/>
			<constraints categories="org.camunda.bpm.modeler.validation">
				<constraint
					lang="OCL"
					severity="WARNING"
					mode="Batch"
					name="%constraint.name"
					id="org.camunda.bpm.modeler.validation.BaseElement.id"
					statusCode="100" isEnabledByDefault="true">
					<description>%constraint.description</description>
					<message>%constraint.message</message>
					<target class="BaseElement" />
					<![CDATA[
					self.id->notEmpty() implies bpmn2::BaseElement.allInstances()->select(s | s.id = self.id)->size() <= 1
					]]>
				</constraint>
				<constraint
					lang="Java"
					class="org.camunda.bpm.modeler.core.validation.ValidIdConstraint"
					severity="WARNING"
					mode="Batch"
					name="%constraint.name.0"
					id="org.camunda.bpm.modeler.validation.ValidId"
					statusCode="101">
					<description>
						%constraint.description.0
					</description>
					<message>
						%constraint.message.0
					</message>
					<target class="BaseElement">
						<event name="Set">
							<feature name="id"/>
						</event>
						<event name="Unset">
							<feature name="id"/>
						</event>
					</target>
				</constraint>
				<constraint
					lang="OCL"
					severity="CANCEL"
					mode="Live"
					name="%constraint.name.1"
					id="org.camunda.bpm.modeler.validation.StartEvent.incoming"
					statusCode="2" isEnabledByDefault="true">
					<description>%constraint.description.1</description>
					<message>%constraint.message.1</message>
					<target class="StartEvent" />
					<![CDATA[
					self.incoming->isEmpty()
					]]>
				</constraint>
				<constraint
					lang="OCL"
					severity="CANCEL"
					mode="Live"
					name="%constraint.name.2"
					id="org.camunda.bpm.modeler.validation.EndEvent.outgoing"
					statusCode="3" isEnabledByDefault="true">
					<description>%constraint.description.2</description>
					<message>%constraint.message.2</message>
					<target class="EndEvent" />
					<![CDATA[
					self.outgoing->isEmpty()
					]]>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.Bpmn2BatchValidationConstraint"
					id="org.camunda.bpm.modeler.validation.error"
					isEnabledByDefault="true"
					lang="Java"
					mode="Batch"
					name="%constraint.name.3"
					severity="ERROR"
					statusCode="1">
					<message>%constraint.message.3</message>
					<description>%constraint.description.3</description>
					<target class="Definitions"/>
					<target class="BaseElement"/>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.Bpmn2BatchValidationConstraint"
					id="org.camunda.bpm.modeler.validation.warning"
					isEnabledByDefault="true"
					lang="Java"
					mode="Batch"
					name="%constraint.name.4"
					severity="WARNING"
					statusCode="1">
					<message>%constraint.message.4</message>
					<description>%constraint.description.4</description>
					<target class="Definitions"/>
					<target class="BaseElement"/>
				</constraint>
				<constraint
					class="org.camunda.bpm.modeler.core.validation.TaskNameNotEmpty"
					id="org.camunda.bpm.modeler.validation.TaskEmptyNameConstraint"
					lang="java"
					mode="Batch"
					name="%constraint.name.5"
					severity="ERROR"
					statusCode="1">
					<message>
						%constraint.message.5
					</message>
					<description>
						%constraint.description.5
					</description>
					<target
						class="Task">
					</target>
				</constraint>

			</constraints>
		</constraintProvider>
	</extension>

	<extension
		point="org.eclipse.emf.validation.constraintBindings">
		<clientContext
			default="false"
			id="org.camunda.bpm.modeler.validationContext">
			<selector class="org.camunda.bpm.modeler.core.validation.ValidationDelegateClientSelector"/>
		</clientContext>
		<binding
			context="org.camunda.bpm.modeler.validationContext"
			category="org.camunda.bpm.modeler.validation"/>
	</extension>

	<extension point="org.eclipse.emf.validation.validationListeners">
		<listener class="org.camunda.bpm.modeler.core.validation.ProblemsReporter">
			<clientContext id="org.camunda.bpm.modeler.validationContext"/>
		</listener>
	</extension>

	<extension
		id="projectValidator"
		name="%extension.name"
		point="org.eclipse.wst.validation.validatorV2">
		<validator
			class="org.camunda.bpm.modeler.core.validation.Bpmn2ProjectValidator"
			markerId="org.camunda.bpm.modeler.problemMarker">
			<include>
				<rules>
					<contentType
						exactMatch="true"
						id="org.eclipse.bpmn2.content-type.xml">
					</contentType>
					<file
						caseSensitive="true"
						name="bpmn2.xml"
						type="file">
					</file>
				</rules>
			</include>
			<exclude>
				<rules>
					<file
						caseSensitive="true"
						name="bpmn2.xml.diagram"
						type="file">
					</file>
				</rules>
			</exclude>
		</validator>
	</extension>

	<extension
		id="org.camunda.bpm.modeler.problemMarker"
		name="%extension.name.0"
		point="org.eclipse.core.resources.markers">
		<persistent
			value="true">
		</persistent>
		<super type="org.eclipse.emf.validation.problem">
		</super>
	</extension>

	<extension
		id="xmlProblem"
		name="%extension.name.1"
		point="org.eclipse.core.resources.markers">
		
		<super type="org.eclipse.core.resources.problemmarker"></super>
		<persistent value="false"></persistent>
	</extension>
 <extension
       id="bpmn_modeler"
       point="org.eclipse.core.runtime.products">
    <product
          application="org.eclipse.ui.ide.workbench"
          name="GloNet-BPMN-Modeler">
       <property
             name="windowImages"
             value="icons/bpmn2_editor_16.bmp,icons/bpmn2_editor_32.bmp,icons/bpmn2_editor_48.bmp,icons/bpmn2_editor_64.bmp,icons/bpmn2_editor_128.bmp">
       </property>
       <property
             name="aboutText"
             value="This modeling tool has been created by the CAS Software AG.">
       </property>
       <property
             name="aboutImage"
             value="icons/bpmn2_editor_16.png">
       </property>
       <property
             name="appName"
             value="GloNet-BPMN-Modeler">
       </property>
       <property
             name="preferenceCustomization"
             value="plugin_customization.ini">
       </property>
    </product>
 </extension>
 <extension
       point="org.eclipse.ui.splashHandlers">
    <splashHandler
          class="org.camunda.bpm.modeler.splashHandlers.InteractiveSplashHandler"
          id="org.camunda.bpm.modeler.splashHandlers.interactive">
    </splashHandler>
    <splashHandlerProductBinding
          productId="org.camunda.bpm.modeler.bpmn_modeler"
          splashId="org.camunda.bpm.modeler.splashHandlers.interactive">
    </splashHandlerProductBinding>
 </extension>
 <extension
       point="org.eclipse.ui.elementFactories">
    <factory
          class="org.camunda.bpm.modeler.ui.diagram.editor.Bpmn2DiagramEditorInputFactory"
          id="org.camunda.bpm.modeler.ui.diagram.editor.Bpmn2DiagramEditorInputFactory">
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.camunda.bpm.modeler.core.PerspectiveFactory"
          fixed="true"
          icon="icons/bpmn2_editor_16.png"
          id="de.cas.open.prozesse.modeler.perspective"
          name="%perspective.name">
    </perspective>
 </extension>
</plugin>
